.scene {
    perspective: 600px;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    font-size: 1.5em;
    animation: spincube 12s ease-in-out infinite;
}
  
.cube__face {
    position: absolute;
    width: 250px;
    height: 250px;
    
    text-align: center;
    line-height: 2em;
    color: white;
  
    background: rgba(199, 147, 139, 0.788);
    border: white 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.cube__face--front { 
    transform: rotateY(0deg) translateZ(125px); 
}
.cube__face--top { 
    transform: rotateX(90deg) translateZ(125px); 
}
.cube__face--right { 
    transform: rotateY(90deg) translateZ(125px); 
}
.cube__face--left { 
    transform: rotateY(-90deg) translateZ(125px); 
}
.cube__face--bottom { 
    transform: rotateX(-90deg) translateZ(125px); 
}
.cube__face--back { 
    transform: rotateY(-180deg) translateZ(125px); 
}
  
@keyframes spincube {
    /* right */
    16% { transform: rotateY(-90deg); }
    /* top */
    33% { transform: rotateX(-90deg); }
    /* back */
    50% { transform: rotateY(180deg); }
    /* left */
    66% { transform: rotateY(90deg); }
    /* bottom */
    83% { transform: rotateX(90deg); }
}